.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
}

.app {
  min-height: 100vh;
  padding: 20px;
}

/* Header */

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.header p {
  color: gray;
}

/* Form */

.note-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.note-form input {
  width: 300px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}
.note-form button {
  padding: 12px 20px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.note-form button:hover {
  transform: scale(1.05);
}
/* Notes */

.notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.note-card {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.note-card:hover {
  transform: translateY(-5px);
}

.note-card p {
  margin-bottom: 15px;
  word-wrap: break-word;
}

.note-card button {
  padding: 10px 15px;
  border: none;
  background-color: crimson;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 600px) {

  .header h1 {
    font-size: 30px;
  }

  .note-form input {
    width: 100%;
  }

  .note-form {
    flex-direction: column;
  }

  .note-form button {
    width: 100%;
  }
}
